#timer-component {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: #ff605b;
    justify-content: space-around;
    flex-wrap: wrap;
}

.timer-container {
    background-color: white;
    border: 2px solid #ff605b;
    color: #ff605b;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.timer-face {
    grid-column: 1;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.8em;
    padding:0 2px;
    border: 1px solid black;
}

.timer-controls {
    display: flex;
    flex-direction: column;
}

.start {
    grid-column: 2;
    grid-row: 1;
}

.pause {
    grid-column: 2;
    grid-row: 2;
}

.reset {
    grid-column: 2;
    grid-row: 3;
}

.button {
    border: 1px solid #ff605b;
    color: #ff605b;
    font-size: 0.9em;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover {
    cursor: pointer;
    background-color: #ff605b;
    color: white;
}