<p>
    fromscratch was built so I could practice web development & learn new technologies.
    I intend to update this app with a robust set of features (<a href="#feature-title">shown below</a>) to help New
    Zealander's be more informed in their dinner choices.
</p>
<p>
    If you'd like to ask me any questions or submit any bugs, <a href='mailto:richardElliot@protonmail.com'>message
        me! </a>
</p>

<h3 id="feature-title">Features planned & in progress:</h3>
<ul>
    <li>Switch between measuring types (cups, tsp,mls)</li>
    <li>All custom recipe layouts</li>
    <li>A 1-2-3 step of choosing supermarket, directions to said recipe, cooking directions</li>
    <li>Substitutions of ingredients based on price, availability or allergies</li>
</ul>