
header {
  background-color:  rgb(153, 4, 4);
  box-sizing: border-box;
  display: flex;
   align-items:center;
  justify-content: center;
  
}

h1 {
  text-align: center;
  align-items:center;
  align-self: center;
  justify-content: center;
  padding: 0.5vw;
  color:black;
  margin: 0 5vw;
  font-family: garamond;
  font-size: 5vmin;
  font-weight: bolder;
  cursor: pointer;
  flex-grow: 1;

}
h1:hover{
  color: lightcoral;
  cursor: default;
}

#burger-button {
  box-sizing:border-box;
  height: 3vw;
  flex-basis: 3vw;
  margin: 0.5vw 5vw;
}

#version-text {
  font-size: 2vmin;
  margin: 1vw 5vw;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0 1vw;
  border: 2px solid black;
}
#version-text:hover {
  background-color: yellow;
}
#version-text a, #version-text a:visited {
  text-decoration: none;
  color: black;
}
.ingredientList-ingredient {
  color: darkgray;
  font-size: 0.7em;
  border-bottom: 2px solid black;
}
.open {
  width: 30vw;
  max-width:200px;
  min-width: fit-content;
  width: moz-fit-content;
}
.closed {
  width: 0;
}
#side-nav-bar {
  height: 100%; 
  position: fixed; 
  box-sizing:border-box;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color:  rgb(153, 4, 4);
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s;
  font-family: Arial,Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

#shopping-list-bar {
  z-index: 2;
  height: 100vw;
  top:0;
  right: 0;
  background-color:  #ff605b; 
  overflow-x: hidden;
  position: fixed;
  transition: 0.5s;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.shopping-list ul {
  list-style-type: none;
  margin:0;
  padding:0;
}
.shopping-list-item:first-child {
  margin-top: 0;
}
.shopping-list-item {
  list-style-type: none;
  margin-top:2px;
  padding:0;
  min-width: fit-content;
  display: flex;
  border: 1px solid black;
  flex-direction: column;
}

.close-button:hover {
  border: none;
}
#side-nav-bar a,  #shopping-list-bar a{
  padding: 8px;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  transition: 0.3s;
  display: inline-block;
}

#side-nav-bar a:hover, #shopping-list-bar a:hover {
  color:  rgba(252, 252, 252, 0.6);
  cursor: pointer;
  border: 2px solid white;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media only screen and (max-height: 600px) {
  #side-nav-bar {padding-top: 15px;}
  #side-nav-bar a {font-size: 18px;}
}
