#priceTiers {
  height: 90vh;
  box-sizing: content-box;
}
.tiers {
  height:25%;
  min-height: 100px;
  /* border-right: 2px solid red; */
  box-sizing: border-box;
}

#loading {
  padding-top: 20%;
  overflow-y: hidden; 
}

@media (max-height: 450px) {
  .tiers {
    margin-bottom: 5px;
  }
}