<div id="filter-container">
  <span (click)="showFilter()" id="filter-icon"><img height="15px" src="{{urlPrefix}}images/cogs.svg"></span>
  <div id="filter-content" (mouseleave)="showFilter()">

    <ng-container class="form-price">
      <app-multi-slider class="multi-slider" *ngIf="ready" [range]="priceRange"
        (rangeChange)="onPriceRangeChange($event)"></app-multi-slider>
    </ng-container>

    <form [formGroup]="servingSizeForm" id="form-servingssize">
      <ng-container class="form-servingsize">
        <label for="servingSizeInput">Servings: </label>
        <input id="serving-input" name="servingSize" formControlName="servingSize" min="1" type="number"
          placeholder="auto">
      </ng-container>
    </form>

    <form [formGroup]="dietForm" id="form-diet">
      Include Only:
      <ng-container>
        <label for="vegetarianInput" class="vege-label">Vegetarian</label>
        <input name="vegetarian" formControlName="Vegetarian" type="checkbox" id="vegetarianInput" class="vege-input">

        <label for="veganInput" class="vegan-label">Vegan</label>
        <input name="vegan" formControlName="Vegan" type="checkbox" id="veganInput" placeholder="vegan" value="Vegan"
          class="vegan-input">

        <label for="glutenFreeInput" class="gluten-label">Gluten-Free</label>
        <input name="glutenfree" formControlName="GlutenFree" type="checkbox" id="glutenfreeInput"
          placeholder="glutenfree" value="glutenfree" class="gluten-input">

      </ng-container>
    </form>
  </div>