#ingredients-container {
  margin:0;
  font-size: 1em;
  counter-reset: section;
  /* height: 90% */
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding:0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  overflow-x: auto;
  /* height: 100%; */
  background-color: white;
}

li:first-of-type {
  border-top: none;
}
li {
  padding: 5px 0 0 5px;
  counter-increment: section;
  border-bottom: 1px rgb(153, 4, 4) solid;
  border-right: 1px  rgb(153, 4, 4) solid;  
  margin:0;
  height: min-content;
  /* display: flex; */
  /* flex-direction: column; */
  /* grid-column: 1; */
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width:none;
  -webkit-overflow-scrolling: touch;
}
li::-webkit-scrollbar {
  display: none;
}
li:nth-of-type(counter()/2)~li {
  grid-column: 2/2;
}
li:hover {
  background-color: whitesmoke;
}

.ingredientDiv {
  grid-row: 1;
  grid-column: 1;
  display: grid;
  grid-template-columns: 20% auto auto;
  grid-template-rows: auto;
  overflow: hidden;
}
.ingredientQuantity {
  grid-column: 1;
  text-align: center;
}
.ingredientUnit {
  grid-column: 2;
  overflow: hidden;
}
.hidden {
  display: none;
}
.ingredientText {
  grid-column: 3;
  overflow-x: scroll;
  padding-left: 3px;
  text-align: right;
  -ms-overflow-style: none;
  scrollbar-width:none;
  -webkit-overflow-scrolling: touch;
}
.ingredientText::-webkit-scrollbar {
  display: none;
}

.ingredientOriginalText {
  padding: 0;
  margin: 0;
  color: darkgray;
  grid-row: 2;
  grid-column: 1;
  max-width: 400px;
  font-size: 0.6em;
}

@media (max-width: 600px) {
  ul {
    grid-template-columns: auto;
  }
  li{
    grid-column: 1;
  }
}
