
.tier-title {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  text-align: center;
  margin:0;
  padding:0;
}
.tier-title h3 {
  width: 90%;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-weight: lighter;
  cursor: default;
  border-radius: 10px;
  box-shadow: 0 6px 5px#4b4b4b9c;
  background-color: rgb(153, 4, 4);
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.recipe-card-row {
  display: flex;
  align-items:center;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width:none;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}
.recipe-card-row::-webkit-scrollbar {
  display: none;
}

.recipe-card {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  color: black;
  background-color: #ff605b;
  border-radius: 1px;
  align-self:center;
  width: 150px;
  height:20vw;
  max-height: 80px;
  justify-content: center;
  padding:0;
  margin: 0 20px;
  overflow-x: hidden;
  overflow-y:hidden;
  -ms-overflow-style: none;
  scrollbar-width:none;
  -webkit-overflow-scrolling: touch;
}
.recipe-card::-webkit-scrollbar {
  display: none;
}
.recipe-card:hover {
  background-color: rgb(153, 4, 4);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .recipe-card {
    width: 120px;
    height:64px;
  }
}
@media screen and (max-height: 300px) {
  .recipe-card-row {
  }
  .recipe-card {
    width: 120px;
    height:50px;
  }
}

