* {
  margin: 0px;
  padding: 0px;
}


.navbar{
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 2px;
  overflow: hidden;
  margin-bottom: 10px;
}

.navbar div{
  height: 15%;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  background-color:black;
  transition: all 0.5s ease;
}

 .first{
  margin-top: 15%;
}

.navbar .second{
  margin-top: 15%;
}

.navbar .third{
  margin-top: 15%;
}

.navbar:hover .first {
   transform: translateY(200%) rotate(45deg);
   transition: all 0.5s ease;
}

.navbar:hover .second {
  opacity: 0;
  transition: all 0.2s ease;
 
}

.navbar:hover .third{
  transform: translateY(-200%) rotate(-45deg);
  transition: all 0.5s ease;
}

.navbar:hover{
  border-radius:50%;
  transition: all 0.3s ease;  
}
