.newzealand_map {
    height: 500px;
    width: 90vw;
    margin: 0 auto;
} 
.ol-dragbox {
    background-color: rgba(255,255,255,0.4);
    border-color: rgba(100,150,0,1);
}

#chosen {
    display: inline-flex;
    width: 90%;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
    align-self:center;
    justify-self: center;
    justify-content: center;
}

button:hover {
    background-color: rgb(153, 4, 4);
}

#map-info {
    display: inline-flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid black;
}
#map-content {
    display: flex;
    margin-top: 10px;
    align-self: center;
    align-items: center;
    flex-direction: column;
}

.return-button {
  display: flex;
  border-radius: 5px;
  margin-top: 10px;
  justify-content: center;
  align-self:center;
  justify-self: center;
  align-content:center;
  align-items:center;
  width: 33%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.8em;
  background-color: #ff605b;
  color: white;
  text-align: center;
  text-decoration: none;
}
.return-button:hover {
  cursor: pointer;
  color: #ff605b;
  background-color: white;
  border: 1px solid #ff605b;
}