.skeleton-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 30% auto auto auto 30%;
  grid-template-rows: auto auto auto auto auto auto;
  margin: 0 auto;
  align-content: space-between;
  width: 90vw;
  font-family: Helvetica, sans-serif;
  margin-top: 10px;
  font-size: 1em;
  padding: 1vw;
    background-color: #f355558e;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width:none;
}
.content::-webkit-scrollbar {
  display: none;
}

.ingredients {
  grid-column: 2/4;
  /* grid-row: 3/5; */
  overflow: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width:none;
  border-radius: 10px;
  background-color: #ff605b;
}
.ingredients::-webkit-scrollbar {
  display: none;
}

.details {
  grid-column: 2/4;
  border-radius:10px;
  display: flex;
  height: 100%;
  flex-direction: row;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #ff605b;
}

.timers {
  grid-column: 2/4;
}

.picture {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 2px solid black;
  background-color:whitesmoke;
}

.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-column {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  align-self: stretch;
  background-color: inherit;
}

#servingSizeSpan {
  display: flex;
}
#servingSize {
  font-size: 1.5em;
  background-color: #00000000;
  border: none;
  color: black;
  width: 40%;
}

.method {
  grid-column: 1/2;
  grid-row: 1/6;
  border-radius: 10px;
  background-color: #ff605b;
}
#method-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.method ol {
  width: 100%;
  height: 90%;
  max-height: 60vw;
  margin: 0 0 1vw 0;
  padding:0;
  list-style-type: decimal;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: white;
  text-align: left;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width:none;
  counter-reset: method-counter 0;
}
.method ol::-webkit-scrollbar {
  display: none;
}
.method ol li {
  border-top: 2px solid rgb(153, 4, 4);
  padding: 0 0 0 .5em;
  color: rgb(31, 29, 29);
  counter-increment: method-counter;  
  }
.method li:hover, .method li:click {
  background-color: whitesmoke;
  color: black;
}
.method ol li::marker {
  content: counter(method-counter) ".";
  border: 2px solid blue;
  color: #ff605b;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.selected {
  background-color: yellow;
}

#products {
  border-radius: 10px;
  grid-row: 1 / 6;
  grid-column: 5 / span 1;
  overflow: hidden;
  /* -ms-overflow-style: none; */
  /* scrollbar-width:none; */
  /* background-color:#ff605b; */
}
#products::-webkit-scrollbar {
  display: none;
}

.min {
    max-width: 2vw;
    color: #00000000;
}

.return-button {
  display: inline-flex;
  grid-column: 2/4;
  border-radius: 5px;
  justify-content: center;
  align-self:center;
  justify-self: center;
  align-content:center;
  align-items:center;
  width: 33%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.8em;
  background-color: #ff605b;
  color: white;
  text-align: center;
  text-decoration: none;
}
.return-button:hover {
  cursor: pointer;
  color: #ff605b;
  background-color: white;
  border: 1px solid #ff605b;
}

.sentence:first-of-child, li:first-of-child {
  padding-top:0;
  margin-top:0;
}

.sentence:last-child, li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .details-column{
    display: inline-flex;
    flex-direction: row;
  }
  .skeleton-container {
  display: flex;
  flex-direction:column;
  }
  .top {
    display: flex;
    flex-direction: column;
  }
  .picture {
    display:none;
  }
  .return-button {
    width:100%;
  }
}
